*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: rgb(0, 0, 0, 0.4)

}

nav .logo img{
    width: 130px;
    height: auto;
}

nav .navbar_links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

nav .navbar_links ul li{
    margin-right: 20px;
    list-style: none;
    font-weight: bolder;
}

nav .navbar_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px; 

}

nav .navbar_links ul .searchbar{
    background: #C6C628;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*  */
.banner_conta{
    background: url("../img/0G2A8223-2048x1365.jpg");
    height: 95vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_conta .banner_text{
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner_conta .banner_text h1{
    color: #fff;
    font-weight: 600;
    font-size: 38px;
}
.banner_conta .banner_text p{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
.banner_conta .banner_btn{
    margin-top: 40px;

}
.banner_conta .banner_btn a{
    padding: 1px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}
.banner_conta .banner_btn a button{
    background: transparent;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 15px;
}
.banner_conta .banner_btn .btn1{
    background: #a203a2;
}
.banner_conta .banner_btn .btn2{
    background: #a2d90a;

}
.banner_conta .banner_btn .btn3{
    background: #fff;
}
    
.courses .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}
.courses .content2 .academy{
    width: 50%;

}
.courses .content2 .image-content{
    width: 50%;
}
.courses .content2 .image-content img{
    width: 100%;
}
.content2{
    margin-top: 30px;

}


.content2 .academy h2{
    color: #a203a2;
    font-size: 30px;
    font-weight: 600;

}
.content2 .academy h4{
    color: rgb(33, 171, 171);
    font-weight: 600;
    font-size: 20px;
}
.middle {
    text-align: center;
    padding: 40px 0;

}
.middle h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: #00aeef;
}
.middle p {
    font-size: 35px;
    font-weight: bold;
    color: #5c2d91;
}
.mother {
    display: grid;
    margin: auto;
    margin-top: 40px;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.mother .course-x img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    
}
.mother .course-x h2 {
    padding: 15px;
    color:  #5c2d91;
    font-size: 25px;

}
.mother .course-x p{
    padding: 0 15px;
    font-size: 15px;
    color: #444;

}
.mother .course-x button{
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    background: #c2d416;
    margin: 15px;
    transition: 0.03s;
    cursor: pointer;
    align-self: flex-start;
    

}
.counter {
    background: #040a3f;
}
.access{
    display: flex;
}
.access .img-logo{
    width: 50%;
}
.access .img-logo img{
    width: 100%;

}

.access .Program{
    width: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.access .Program h3{
    font-size: 30px;
    color: #1b2578;
    font-weight: 600;
    padding: 10;
    
}
.access .Program h5{
    font-size: 18px;
    font-weight: 550;
    color: #131947;
    padding: 10px 0;

    }
.access .Program p{
    font-size: 18px;
    padding: 10px 0;
}
.access .Program button{
    color: #fff;
    font-weight: 400;
    background: #c2d416;
    border-radius: 6px;
    padding: 10px 20px;
    border: none;




}
.access .logo{
    display: flex;

}
.access .logo img{
    width: 200px;
    height: auto;
}
.foot{
    display: flex;
}
.foot .foot-1 .icon{
    display: flex;
}